---
// import Header from "../components/Header.svelte"
const { title, class: bodyClass, container = true} = Astro.props;

---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{`${title} | Rivo Wowor` ?? "Rivo Wowor"}</title>
</head>
<body class="relative bg-dark-9 text-white font-sans bg-hero-graph-paper-gray-700/15">
    <!-- <Header /> -->
    <main class:list={[{"p-4 max-w-screen-lg mx-auto": container }, bodyClass]}>
        <slot />
    </main>
    <div
    class="fixed -top-32 right-12 w-32 h-768px bg-gradient-to-r from-orange-300/n15 to-red-600/20 rotate-45 blur-150"
/>
<div
    class="md:block fixed bottom-1 left-12 w-28 h-128 bg-gradient-to-r from-orange-300/20 to-red-600/15 rotate-18 blur-130"
/>

</body>
</html>